<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/qwazr/server.${HOSTNAME}.log</file>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/qwazr/server.${HOSTNAME}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="events" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/qwazr/access.${HOSTNAME}.log</file>
        <encoder>
            <Pattern>%EVENT{date} %EVENT{time} - %n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/qwazr/access.${HOSTNAME}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.gargoylesoftware.htmlunit" level="OFF"/>
    <logger name="com.qwazr" level="WARN"/>
    <logger name="com.qwazr.cluster" level="INFO"/>

    <logger name="EventLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="events"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>